build
cibuildwheel == 2.*
setuptools
setuptools-rust == 1.*
wheel

# keep synchronous to requirements-readthedocs.txt
cloud-sptheme == 1.*
myst-parser == 0.15.*
sphinx == 4.*
sphinx_autodoc_typehints == 1.*
sphinxprettysearchresults == 0.3.*
